@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 221 83% 40%;
    --primary-foreground: 0 0% 98%;

    --secondary: 173 91% 28%;
    --secondary-foreground: 0 0% 98%;

    --accent: 39 96% 51%;
    --accent-foreground: 0 0% 98%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 7%;
    --foreground: 0 0% 98%;

    --card: 240 10% 16.5%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 221 83% 33%;
    --primary-foreground: 0 0% 98%;

    --secondary: 173 91% 21%;
    --secondary-foreground: 0 0% 98%;

    --third: hsl(41, 84%, 53%);
    --third-foreground: 0 0% 98%;

    --accent: 39 96% 40%;
    --accent-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground transition-colors duration-300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

/* Custom classes */
.animate-element {
  opacity: 0;
  transform: translateY(20px);
}

[data-scroll] {
  opacity: 0;
  transition: opacity 1s, transform 1s;
}

[data-scroll].in-view {
  opacity: 1;
  transform: translateY(0);
}

.motion-safe\:animate-fadeIn {
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}